body{
    background-color: #9ED2BE;
}

h1{
   color: whitesmoke;
   background-color: #C23373;
}

h2{
    color:  #EA1179;
    background-color: #79155B;
}

h3{
    color: black;
   background-color: #F6635C; 
}

h4{
    color:#C51605;
   background-color: #FFBA86; 
}

h5{
    color: #35155D;
   background-color: #FFBFBF; 
}